body { margin: 0; }
/* remove spacing between middle columns */
.row.no-gutter [class*='col-']:not(:first-child):not(:last-child) {
  padding-right:0;
  padding-left:0;
}
/* remove right padding from first column */
.row.no-gutter [class*='col-']:first-child {
  padding-right:0;
}
/* remove left padding from first column */
.row.no-gutter [class*='col-']:last-child {
  padding-left:0;
}

.row { margin-left: 0px !important; margin-right: 0px !important; }
.top-btn { width: 30px; bottom: 20px;  right: 20px; position: absolute;}
.top-img { width: 30px; }


.nav-row { margin-top: 25px; background-image: url(../img/nav%20bg.png);height: 130px; position: fixed;width: 100%; text-align: center; z-index: +1; }
.nav-div { text-align: center;  margin-left: auto; margin-right: auto; width: auto; display: block;color: white;}
.nav-row p { font-size: 25px; color: white; }
.nav-row img { width: 50px;margin-top: 10px; margin-left: 20px; }
.nav-div ul { list-style: none; text-decoration: none; display:inline-block; margin-left: -43px;}
.nav-div ul li { float: left; margin: -10px 10px 0 10px; }
.nav-div a , .nav-div a:visited ,.nav-div a:active ,.nav-div a:focus { color: white; text-decoration: none;}
.nav-div a:hover { color: white; text-decoration: underline;}
@media screen and (max-width: 992px) { .nav-sm-xs ul li a {font-size:19px; } }
@media screen and (max-width: 1200px) { .nav-div ul li a {font-size:16px; } }
@media screen and (min-width: 1200px) { .nav-div ul li a {font-size:20px; } }

.first-slide { height:100vh;text-align: center; min-height: 768px; background-image: url(../img/background_image.jpg);background-size: cover;background-repeat: no-repeat;background-position: center top; }

.login {   float: right; margin-top:-11px; height: auto;position: absolute; z-index: 2; right: 0;}
.login-nav { min-height: 1px; }
.login-nav li { float: right; list-style: none; font-size: 14;background-color: black; }
.login-nav li a { display: block; padding: 3px 15px; color: white; text-decoration: none;}
.login-nav li a:hover ,.login-nav li a:active  { display: block; padding: 3px 15px; color: white; text-decoration: none;}
.login1,.login2  { width: 236px; height: 130px; background-color: black; margin-top: 25px; display: none; color: white;position: inherit;}
.login input { color: black; }


.second-slide { height:100vh; min-height: 768px; background-image: url(../img/second%20bg.png);background-size: cover;background-repeat: no-repeat;background-position: center; position: relative;}


.third-slide { height:100vh; min-height: 768px; background-image: url(../img/booking.jpg);background-repeat: no-repeat;background-position: right;background-color: #f5f1f2;  position: relative;}
.footer { height: 130px; background-color: black;}