.gallery { margin-top: 170px; }
.nav-gallery-btn { float: right;margin-top: -50px;margin-right: 50px; }
.nav-gallery img { width: 20px;height: 30px;}

@media screen and (max-width: 1200px) { .slider { height: 0; padding-bottom: 25%; overflow: hidden;} }
@media screen and (min-width: 1200px) { .slider { height: 0; padding-bottom: 25%; overflow: hidden;} }
@media screen and (max-width: 992px) { .slider { height: 0; padding-bottom: 40%; overflow: hidden;} }

.slider div { width: 100% ; float: left;display:none;}
.slider img { width: 100%; }
.slider p { margin-bottom: 50px; position: absolute; }

.two-btns { display: inline-block; }
.two-btns img { width: 250px; margin-top: 20px;}